<div>
    <h2>Envio de Arquivos XML</h2>
    <input type="file" (change)="onFileSelected($event)" multiple accept=".xml" />
    <button mat-raised-button (click)="uploadFile()">Enviar</button>

    <mat-spinner *ngIf="showLoader" diameter="50" color="primary"></mat-spinner>

</div>

<div *ngIf="isSuccess" class="success-message">
    <!-- Mensagem de sucesso aqui -->
    Upload conclu&iacute;do com sucesso!
</div>

<div *ngIf="isError" class="error-message">
    <!-- Mensagem de erro aqui -->
    Ocorreu um erro durante o upload.
</div>